<tr>
  <td class="client">
    <span class="Account name"><%= client.name %></span>
    <span class="Subdomain"><%= client.subdomain %></span>
	<span class="User Name"><%= client.users[0].name %></span>
	<span class="User email"><%= client.users[0].email %></span>
  </td>
</tr>